/* style.css */
body,html {
    background-color: #f4f4f4;
    margin: 0 auto;
    font-family: "IBM Plex Sans", sans-serif;
    padding: 1rem;
}

pre {
    text-wrap: wrap;
    word-break: break-word;
    width: 95%;
}
