# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
api/__pycache__
.next

# We do want to ignore the locally downloaded huggingface model folder
opus-mt-de-en