<!DOCTYPE html>
<html lang="en">
<head>
    <title>C2C File Inventory</title>
    <style media="screen">
      table, th, td {
        border: 1px solid black;
      }
    </style>
</head>
<body>
  <h1>File Inventory</h1>
  {% if file_names %}
  {% if buckets %}
  {% if files %}
  <table>
    <tr>
      <th>Bucket Name</th>
      {% for bucket in buckets %}
      <th colspan="3">{{ bucket }}</th>
      {% endfor %}
    </tr>
    <tr>
      <th>File Name</th>
      {% for bucket in buckets %}
        <th>Last Modified</th>
        <th>Size</th>
        <th>Version ID</th>
      {% endfor %}
    </tr>
    {% for f_name in file_names %}
    <tr>
      <td>{{ f_name }}</td>
      {% for bucket in buckets %}
      {% if files[f_name][bucket] %}
      <td>{{ files[f_name][bucket]['last_modified'] }}</td>
      <td>{{ files[f_name][bucket]['size'] }}</td>
      <td>{{ files[f_name][bucket]['version'] }}</td>
      {% else %}
      <td colspan="3">Not Found</td>
      {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endif %}
  {% endif %}
</body>
