<!DOCTYPE html>
<html lang="en">
<head>
    <title>C2C Event History</title>
    <style media="screen">
      table, th, td {
        border: 1px solid black;
      }
    </style>
</head>
<body>
  <h1>Event History</h1>
  <table>
    <tr>
      <th>Triggering Event</th>
      <th>Event Received</th>
      <th>Object</th>
      <th>Timestamp</th>
      <th>Source Bucket</th>
      <th>Destination Bucket</th>
      <th>Status</th>
    </tr>
    {% if events %}
    {% for event in events %}
    {% if event.objects|length is gt(0) %}
    {% for object in event.objects %}
    <tr>
      {% if loop.index0 is eq(0) %}
      <td rowspan="{{ loop.length }}">{{ event.id }}</td>
      <td rowspan="{{ loop.length }}">{{ event.timestamp }}</td>
      {% endif %}
      <td>{{ object.key }}</td>
      <td>{{ object.timestamp }}</td>
      <td>{{ object.source_bucket }}</td>
      <td>{{ object.destination_bucket }}</td>
      <td>{{ object.status }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>{{ event.id }}</td>
      <td>{{ event.timestamp }}</td>
      <td colspan="5">No objects found</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
  </table>
</body>
