{{ define "home" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="/static/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title>{{.Title}}</title>
</head>
<body>
    {{if .User.Token}}
        <h2>Your are authenticated!</h2>
        <div>OIDC configuration properties:</div>
        <div style="padding: 0.75rem 0;">
            <code>
                ClientId={{.ClientId}}
                <br>
                AuthorizationEndpoint={{.ProviderAuthorizationEndpoint}}
                <br>
                TokenEndpoint={{.ProviderTokenEndpoint}}
                <br>
                UserInfoEndpoint={{.ProviderUserInfoEndpoint}}
            </code>
        </div>
        <br>
        <div>Access Token: <pre>{{.User.Token}}</pre></div>
        <br>
        <div>User Profile: <pre>{{.User.Profile}}</pre></div>
        <br>
        <a href="/auth/logout" class="center-block">Logout</a>
    {{else}}
        <a href="/auth/login" class="center-block">Login</a>
    {{end}}
</div>

</body>
</html>
{{ end }}