IBM_COS_API_KEY_PRIMARY=<>
IBM_COS_RESOURCE_INSTANCE_ID_PRIMARY=<>
IBM_COS_ENDPOINT_PRIMARY=<>
IBM_COS_REGION_PRIMARY= <>
PRIMARY_COS_BUCKET_NAME=<>

IBM_COS_API_KEY_SECONDARY=<>
IBM_COS_ENDPOINT_SECONDARY=<>
IBM_COS_RESOURCE_INSTANCE_ID_SECONDARY=<>
IBM_COS_REGION_SECONDARY=<>
SECONDARY_COS_BUCKET_NAME=<>

BUCKET_TIMESTAMP_FILENAME=temp/last_modified_time.json

# Primary Bucket Trusted Profile Credentials
IBM_COS_TRUSTED_PROFILE_ID_PRIMARY= <>
IBM_COS_CRTokenFilePath_PRIMARY=/var/run/secrets/tokens/service-account-token
IBM_COS_RESOURCE_INSTANCE_ID_PRIMARY=<>
IBM_COS_ENDPOINT_PRIMARY=<>
IBM_COS_REGION_PRIMARY=<>

# Secondary Bucket Trusted Profile Credentials
IBM_COS_TRUSTED_PROFILE_ID_SECONDARY= <>
IBM_COS_CRTokenFilePath_SECONDARY=/var/run/secrets/tokens/service-account-token
IBM_COS_RESOURCE_INSTANCE_ID_SECONDARY=<>
IBM_COS_REGION_SECONDARY=<>

# Bucket Names
# PRIMARY_COS_BUCKET_NAME=<>
# SECONDARY_COS_BUCKET_NAME=<>

# IBM Auth Endpoint (Typically you don't need to change this)
IBM_AUTH_ENDPOINT=https://iam.cloud.ibm.com/identity/token
