#INFERENCE_BASE_URL=http://0.0.0.0:11434/v1
#INFERENCE_API_KEY="dummy"
#INFERENCE_MODEL_NAME="openai/qwen3:4b"

#INFERENCE_BASE_URL=https://api.perplexity.ai/v1
#INFERENCE_API_KEY="REDACTED"
#INFERENCE_MODEL_NAME="perplexity/sonar-pro"

INFERENCE_BASE_URL=https://eu-de.ml.cloud.ibm.com
INFERENCE_API_KEY="REDACTED"
INFERENCE_MODEL_NAME="watsonx/meta-llama/llama-3-3-70b-instruct"
INFERENCE_PROJECT_ID="REDACTED"

