__pycache__/
.my_cache_dir
.pytest_cache
.ruff_cache
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env
.venv
*.env

**/.env
**/.venv
**/*.env

.git
.gitignore
Dockerfile
.dockerignore

*.log
*.bak
*.swp

.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
