accelerate==1.6.0
certifi==2025.4.26
charset-normalizer==3.4.2
filelock==3.20.1
fsspec==2025.3.2
hf-xet==1.1.0
huggingface-hub==0.31.1
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.5
packaging==25.0
psutil==7.0.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
sympy==1.14.0
tokenizers==0.21.1
torch==2.8.0
tqdm==4.67.1
transformers @ git+https://www.github.com/huggingface/transformers@a5c6172c81d69a6fa2c3b1340d72fc669b941dcd
typing_extensions==4.13.2
urllib3==2.5.0
